*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    background: #fffff1;
    display: flex;
    justify-content: center;
    align-items: center
}
.imp{
    width: auto;
    height: 25px;
    border: 2px solid #4154f1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.btn{
   padding: 0 10px;
    height: 29px;
    border: 2px solid #4154f1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color:#fff;
    background: #4154f1;
    cursor: pointer;
}